
<%= render "shared/header"%>

<div id="content">
  <div class="container"> 
    <!-- Services -->
    <div class="block features">
      <h2 class="title-divider"><span>Core <span class="de-em">Features</span></span> <small>Core features included in all plans.</small></h2>
      <div class="row">
        <div class="feature col-sm-6 col-md-3"> <a href="features.htm"><img src="assets/features/feature-1.png" alt="Feature 1" class="img-responsive" /></a>
          <h3 class="title"><a href="features.htm">Mobile <span class="de-em">Friendly</span></a></h3>
          <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
        </div>
        <div class="feature col-sm-6 col-md-3"> <a href="features.htm"><img src="assets/features/feature-2.png" alt="Feature 2" class="img-responsive" /></a>
          <h3 class="title"><a href="features.htm">24/7 <span class="de-em">Support</span></a></h3>
          <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
        </div>
        <div class="feature col-sm-6 col-md-3"> <a href="features.htm"><img src="assets/features/feature-3.png" alt="Feature 3" class="img-responsive" /></a>
          <h3 class="title"><a href="features.htm">Free Upgrade <span class="de-em">Assistance</span></a></h3>
          <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
        </div>
        <div class="feature col-sm-6 col-md-3"> <a href="features.htm"><img src="assets/features/feature-4.png" alt="Feature 4" class="img-responsive" /></a>
          <h3 class="title"><a href="features.htm">99.9% <span class="de-em">Uptime</span></a></h3>
          <p>Rhoncus adipiscing, magna integer cursus augue eros lacus porttitor magna. Dictumst, odio! Elementum tortor sociis in eu dis dictumst pulvinar lorem nec aliquam a nascetur.</p>
        </div>
      </div>
    </div>
    
    <!--Pricing Table-->
    <div class="block">
      <h2 class="title-divider"><span>Pricing <span class="de-em">Plans</span></span> <small>Competitive pricing plans to suit your needs</small></h2>
      <div class="row pricing-stack">
        <div class="col-md-3">
          <div class="well">
            <h3 class="title">Starter</h3>
            <p class="price"><span class="fancy">Free!</span></p>
            <ul class="unstyled points">
              <li>3 User Accounts</li>
              <li>3 Private Projects</li>
              <li>Umlimited Public Projects</li>
              <li>5GB of space</li>
            </ul>
            <a class="btn btn-primary">Sign Up</a> </div>
        </div>
        <div class="col-md-3">
          <div class="well active">
            <h3 class="title"><span class="em">Pro</span> <span class="fancy">Plus</span></h3>
            <p class="price"><span class="currency">$</span> <span class="digits">49<span>.95</span></span> <span class="term">/MO</span></p>
            <ul class="unstyled points">
              <li>50 User Accounts</li>
              <li>50 Private Projects</li>
              <li>Umlimited Public Projects</li>
              <li>Unlimited space</li>
            </ul>
            <a class="btn btn-primary">Sign Up</a> </div>
        </div>
        <div class="col-md-3">
          <div class="well active">
            <h3 class="title"><span class="em">Biz</span> <span class="fancy">Plus</span></h3>
            <p class="price"><span class="currency">$</span> <span class="digits">199<span>.95</span></span> <span class="term">/MO</span></p>
            <ul class="unstyled points">
              <li>Umlimited User Accounts</li>
              <li>Umlimited Private Projects</li>
              <li>Umlimited Public Projects</li>
              <li>Unlimited space</li>
            </ul>
            <a class="btn btn-primary">Sign Up</a> </div>
        </div>
        <div class="col-md-3">
          <div class="well">
            <h3 class="title">Starter <span class="fancy">Plus</span></h3>
            <p class="price"><span class="currency">$</span> <span class="digits">19<span>.95</span></span> <span class="term">/MO</span></p>
            <ul class="unstyled points">
              <li>10 User Accounts</li>
              <li>10 Private Projects</li>
              <li>Umlimited Public Projects</li>
              <li>15GB of space</li>
            </ul>
            <a class="btn btn-primary">Sign Up</a> </div>
        </div>
      </div>
      <div class="row"> 
        <!-- Plan features -->
        <div class="well well-mini pull-center">
          <h4 class="inline-el pad-right"><span>All Plans <span class="de-em">Include</span>:</span></h4>
          <p class="inline-el pad-left muted">90 day money back guarantee <span class="spacer">//</span> 24/7 telephone support <span class="spacer">//</span> FREE Setup <span class="spacer">//</span> Migration Help <span class="spacer">//</span> Developer API</p>
        </div>
      </div>
    </div>
    
    <!--Customer testimonial-->
    <div class="block testimonials margin-top-large">
      <h2 class="title-divider"><span>Highly <span class="de-em">Recommended</span></span> <small>99% of our customers recommend us!</small></h2>
      <div class="row">
        <div class="col-md-4">
          <blockquote>
            <p>"It's totally awesome, we're could imagine life without it!"</p>
            <small><img src="assets/team/jimi.jpg" alt="Jimi Bloggs" class="img-circle" /> Jimi Bloggs <span class="spacer">/</span> <a href="#">@mrjimi</a></small> </blockquote>
        </div>
        <div class="col-md-4">
          <blockquote>
            <p>"10 out of 10, highly recommended!"</p>
            <small><img src="assets/team/jobs.jpg" alt="Jimi Bloggs" class="img-circle" /> Steve Bloggs <span class="spacer">/</span> <a href="#">Founder of Apple</a></small> </blockquote>
        </div>
        <div class="col-md-4">
          <blockquote>
            <p>"Our productivity & sales are up! Couldn't be happier with this product!"</p>
            <small><img src="assets/team/adele.jpg" alt="Adele Bloggs" class="img-circle" /> Adele Bloggs <span class="spacer">/</span> <a href="#">@iamadele</a></small> </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="content-below" class="wrapper">
  <div class="container">
    <div class="row">
      <div class="upsell"> <small class="muted">99.9% Uptime <span class="spacer">//</span> Free upgrade assistence <span class="spacer">//</span> 24/7 Support <span class="spacer">//</span> Plans from $19.99/month <span class="spacer">//</span> </small> <a href="pricing.htm" class="btn btn-primary">Start your Free Trial Today! <i class="fa fa-arrow-right"></i></a> </div>
    </div>
  </div>
</div>

<!-- FOOTER -->
<%= render "shared/footer"%>

<!--Hidden elements - excluded from jPanel Menu on mobile-->
<div class="hidden-elements jpanel-menu-exclude"> 
  <!--@modal - signup modal-->
  <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Sign Up</h4>
        </div>
        <div class="modal-body">
          <form action="signup.htm" role="form">
            <h5>Price Plan</h5>
            <select class="form-control">
              <option>Basic</option>
              <option>Pro</option>
              <option>Pro +</option>
            </select>
            <h5>Account Information</h5>
            <div class="form-group">
              <label class="sr-only" for="signup-first-name">First Name</label>
              <input type="text" class="form-control" id="signup-first-name" placeholder="First name">
            </div>
            <div class="form-group">
              <label class="sr-only" for="signup-last-name">Last Name</label>
              <input type="text" class="form-control" id="signup-last-name" placeholder="Last name">
            </div>
            <div class="form-group">
              <label class="sr-only" for="signup-username">Userame</label>
              <input type="text" class="form-control" id="signup-username" placeholder="Username">
            </div>
            <div class="form-group">
              <label class="sr-only" for="signup-email">Email address</label>
              <input type="email" class="form-control" id="signup-email" placeholder="Email address">
            </div>
            <div class="form-group">
              <label class="sr-only" for="signup-password">Password</label>
              <input type="password" class="form-control" id="signup-password" placeholder="Password">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="term">
                I agree with the Terms and Conditions. </label>
            </div>
            <button class="btn btn-primary" type="submit">Sign up</button>
          </form>
        </div>
        <div class="modal-footer"> <small>Already signed up? <a href="login.htm">Login here</a>.</small> </div>
      </div>
      <!-- /.modal-content --> 
    </div>
    <!-- /.modal-dialog --> 
  </div>
  <!-- /.modal --> 
  
  <!--@modal - login modal-->
  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body">
          <form action="login.htm" role="form">
            <div class="form-group">
              <label class="sr-only" for="login-email">Email</label>
              <input type="email" id="login-email" class="form-control email" placeholder="Email">
            </div>
            <div class="form-group">
              <label class="sr-only" for="login-password">Password</label>
              <input type="password" id="login-password" class="form-control password" placeholder="Password">
            </div>
            <button type="button" class="btn btn-primary">Login</button>
          </form>
        </div>
        <div class="modal-footer"> <small>Not a member? <a href="#" class="signup">Sign up now!</a></small><br />
          <small><a href="#">Forgotten password?</a></small> </div>
      </div>
      <!-- /.modal-content --> 
    </div>
    <!-- /.modal-dialog --> 
  </div>
  <!-- /.modal --> 
</div>

<!--JS plugins 
<script src="plugins/flexslider/jquery.flexslider-min.js"></script> 
<script src="plugins/clingify/jquery.clingify.min.js"></script> 
<script src="plugins/jPanelMenu/jquery.jpanelmenu.min.js"></script> 
<script src="plugins/jRespond/js/jRespond.js"></script> 
<script src="plugins/quicksand/jquery.quicksand.js"></script> -->

<!-- </body> -->